html, body {
  /*background-color: #01313e;*/
  /*background-color: #fff;*/
  height: 100%;
}
.col-md-offset-2-5 {
  margin-left: 12.5%;
}

/* Navigation Menu */
.nav-menu {
  /*background-color: #fff;*/
  background-color: #363186;
  padding-top: 30px;
  padding-bottom: 20px;
  box-shadow: 0 0px 5px #999;
}
.main {
  /*margin-top: 20px;*/
}
.logo {
  position: absolute;
  top: 0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #fff;
  /*-webkit-box-shadow: 0px 0px 2px 0px rgba(66,66,66,1);*/
  /*-moz-box-shadow: 0px 0px 2px 0px rgba(66,66,66,1);*/
  /*box-shadow: 0px 0px 2px 0px rgba(66,66,66,1);*/

/*  -webkit-box-shadow: 0px 0px 3px #999;
  -moz-box-shadow: 0px 0px 3px #999;
  box-shadow: 0px 0px 3px #999;*/
}
.logo > a > img {
  max-width: 200px;
  margin: 20px 15px;
}
.menu {
  text-align: right;
}
ul.phones > li {
  color: #fff;
  margin-bottom: 5px;
}
ul.list-menu > li > a {
  color: #fff;
  font-size: 14px;
  margin-left: 20px;
  /*font-weight: bold;*/
  text-transform: uppercase;
}

/* Header Slider */
.header-slider {
  height: 650px;
  /*background-color: #0E0026;*/
  background-color: #030921;
  background-image: url(../img/5.jpg);
  /*background-image: url(../img/header-bg-spine.jpg);*/
  background-repeat: no-repeat;
  /*background-size: cover;*/
  background-position: 600px 20%;
}
.marketing {
  width: 70%;
  margin-left: 15px;
  margin-top: 160px;
  color: #fff;
  text-shadow: 1px 1px #454545;
  text-transform: uppercase;
}
.marketing > .first-header {
  font-size: 50px;
}
.marketing > .second-header {
  margin-top: 40px;
  font-size: 30px;
}
.marketing > .second-header > span {
  font-size: 45px;
}

/* Video */
.video {
  border-top: 3px solid #E2087D;
  background-color: #030921;
/*  -webkit-box-shadow: 0px 0px 3px #E2087D;
  -moz-box-shadow: 0px 0px 3px #E2087D;
  box-shadow: 0px 0px 3px #E2087D;*/
  padding: 100px 0;
}
.video-aikune {
  text-align: center;
}

/* Info */
.info-services {
  padding-top: 50px;
  padding-bottom: 50px;
}
.info-services > .row {
  margin-bottom: 50px;
}
.info-services > .row > .col-md-8 {
  display: table;
  height: 194px;
}
.info-service {
  display: table-cell;
  vertical-align: middle;
}
.info-service > .h3 {
  color: #363186;
}
.info-service > p {
  font-size: 18px;
}

/* Advantage */
.advantage {
  padding: 50px 0;
  background-color: #ECEFEF;
}
.advantage > div > .h3 {
  color: #363186;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}
.advantage-item {
  font-size: 16px;
  font-weight: bold;
  margin-top: 25px;
  text-transform: uppercase;
  text-align: center;
}

/* You need it */
.you-need-it {
  padding: 50px 0;
  background-color: #363186;
  /*background-color: #030921;*/
}
.you-need-it > div > .h3 {
  color: #fff;
  text-align: center;
  margin-bottom: 50px;
}
.you-item {
  color: #fff;
  font-size: 16px;
  margin-top: 25px;
  text-transform: uppercase;
  text-align: center;
}

/* Gymnastics */
.gymnastics {
  color: #fff;
  font-size: 16px;
  text-align: justify;
  margin-top: 50px;
}

/* Patent */
.patent {
  padding: 50px 0;
}
.patent > div > .h3 {
  color: #363186;
  text-align: center;
  margin-bottom: 50px;
}


/* Technique */
.technique {
  padding: 50px 0;
  height: 750px;
  /*background-color: #363186;*/
  background-color: #030921;
  background-image: url(../img/spine1b.jpg);
  background-repeat: no-repeat;
  background-position: 300px 30px;
}
.technique > div > .h3 {
  color: #fff;
  margin-bottom: 50px;
  text-align: center;
}
.technique-item {
  color: #fff;
  font-size: 16px;
  margin-top: 25px;
  text-transform: uppercase;
  text-align: center;
}
.help-list {
  width: 95%;
  margin-top: 50px;
}
.help-list > li {
  color: #fff;
  font-size: 20px;
  margin-bottom: 50px;
  list-style-type: circle;
}

/* Symptoms */
.symptoms-area {
  display: table;
  height: 400px;
}
.symptoms-description {
  padding-left: auto;
  padding-right: auto;
  display: table-cell;
  vertical-align: middle;
}
.symptoms .h3 {
  text-transform: uppercase;
}
.right-image1 {
  width: 100%;
  height: 400px;
  background-size: 100% auto !important;
  background-position: center top;
  background-repeat: no-repeat;
  background-image: url(../img/Spine.jpg);
}
.left-image1 {
  width: 100%;
  height: 400px;
  background-size: 100% auto !important;
  background-position: center top;
  background-repeat: no-repeat;
  background-image: url(../img/6.jpg);
}
